@model IndexModel

<a id="newAdventure" asp-page="Create" hx-get="/StudentGroups/Create" hx-target="#actions">
  Create New
</a> or

@if (Model.CanImportGroups)
{
  <a asp-page="/Canvas/Courses/Index">Import from Canvas</a>
}