@page
@model StudentProgress.Web.Pages.StudentGroups.CreateModel

@{
  Layout = null;
}

<form method="post">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>

  <input-form-control asp-for="StudentGroup.Name"></input-form-control>

  @Html.FormBlock(m => m.Adventure.Name)
  <div class="form-floating mb-3">
    <input type="date" placeholder="placeholder" class="form-control" asp-for="Adventure.DateStart">
    <label asp-for="Adventure.DateStart"></label>
  </div>
  @Html.FormBlock(m => m.Adventure.Mnemonic, inputModifier: _ => _.TagName("textarea"))

  <div class="form-group">
    <input id="newAdventure" type="submit" value="Create" class="btn btn-primary" hx-post="/StudentGroups/Create"/>
    <a id="cancel" hx-target="#actions" asp-page="/StudentGroups/Index">Cancel</a>
  </div>
</form>