@page
@model StudentProgress.Web.Pages.StudentGroups.EditModel

@{
  ViewData["Title"] = "Edit";
}

<div>
  <a asp-page="./Index">Groups</a> >
  <span>@Model.StudentGroup.Name</span>
</div>


<h1>Edit</h1>

<h4>StudentGroup</h4>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="StudentGroup.Id"/>
      @Html.FormBlock(m => m.StudentGroup.Name)
      <div class="form-floating mb-3">
        <input type="date" placeholder="placeholder" class="form-control" asp-for="StudentGroup.StartDate">
        <label asp-for="StudentGroup.StartDate"></label>
      </div>
      @Html.FormBlock(m => m.StudentGroup.Mnemonic, inputModifier: _ => _.TagName("textarea"))
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</div>

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}