@page
@using StudentProgress.Web.Lib.Extensions
@model StudentProgress.Web.Pages.StudentGroups.IndexModel

@{
    ViewData["Title"] = "Groups";
}

<section>
    <h2>Adventures</h2>
    <p id="actions">
        <partial name="Parts/_IndexActions" model="Model"/>
    </p>


    <table class="table">
        <caption>Overview of adventures available</caption>
        <thead>
        <tr>
            <th id="name">
                @Html.DisplayNameFor(model => model.Adventures[0].Name)
            </th>
            <th id="mnemonic">
                @Html.DisplayNameFor(model => model.Adventures[0].Mnemonic)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var groupGrouping in Model.Adventures.GroupBy(g => g.DateStart))
        {
            <tr>
                <td class="text-muted" colspan="4">@groupGrouping.Key.ToFontysPeriod().ToString()</td>
            </tr>
            @foreach (var adventure in groupGrouping.ToList())
            {
                <partial name="Parts/_AdventureRow" model="adventure"/>
            }
        }
        </tbody>
    </table>
</section>