@page
@using StudentProgress.Web.Lib.Extensions
@model StudentProgress.Web.Pages.StudentGroups.IndexModel

@{
    ViewData["Title"] = "Groups";
}

<section>
    <h2>Adventures</h2>
    <p id="actions" class="fade-me-out fade-me-in">
        <partial name="_Actions" model="Model.CanImportGroups"/>
    </p>


    <table id="adventures" class="table" hx-get="@Url.Page("Index")" hx-trigger="adventure-created from:body delay:500ms" hx-target="tbody">
        <caption>Overview of adventures available</caption>
        <thead>
        <tr>
            <th id="name">
                @Html.DisplayNameFor(model => model.Adventures[0].Name)
            </th>
            <th id="mnemonic">
                @Html.DisplayNameFor(model => model.Adventures[0].Mnemonic)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <partial name="_List" model="Model.Adventures"/>
        </tbody>
    </table>
</section>