@page
@model StudentProgress.Web.Pages.Objective.Create

@{
    Layout = null;
}

<form id="objectiveForm" class="form form--no-gap" method="post">
    <input asp-for="QuestId" type="hidden" />
    <p class="form__inline">
        <label asp-for="Name" class="form__label"></label>
        <input asp-for="Name" placeholder="objective" class="form__control" autofocus/>
        <button class="form__button" type="submit"
                hx-target="#questContainer"
                hx-post="@Url.Page("/Objective/Create", new { personId = Model.PersonId })">
            <span>Add</span>
            <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>
        </button>
        <a class="form__link"
           hx-get="@Url.Page("/Quest/Index", "CreateLink", new { Id = Model.QuestId })"
           hx-target="closest form"
           hx-swap="outerHTML">
            Cancel
            <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>
        </a>
    </p>
    <p>
        <span asp-validation-for="Name"></span>
    </p>
</form>