@model int

<a class="link"
   hx-get="@Url.Page("/Objective/Create", new { QuestId = Model })"
   hx-target="this"
   hx-swap="outerHTML">
    <span>+ Add new objective</span>
    <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>
</a>