@model ListItemModel

<li>
    <a class="stack__link list-box list-box--primary list-box--offset-left"
       @@click="selected = @(Model.Quest.Id)" 
       :class="selected === @(Model.Quest.Id) && 'list-box--selected'"
       hx-get="@Url.Page("/Quest/Index", new { Model.Quest.Id })"
       hx-target="#questContainer"
       hx-swap="innerHTML">

        <span class="list-box__line-1">
            @Model.Quest.Name
        </span>

        <div class="list-box__line-2 list-box__line-2--flex-wrap">
            @{
                var progressForAll = Model.Quest.Objectives.SelectMany(o => o.Progresses).OrderBy(p => p.AchievedAt).ToList();
            }
            <partial name="Progress/_List" model="progressForAll"/>
            @if (progressForAll.Count == 0)
            {
                <div class="progress progress--empty"></div>
            }

        </div>

        <div class="list-box__postfix">
            <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>
        </div>
    </a>
</li>