@page "{id:int}"
@model StudentProgress.Web.Pages.Quest.Index

@{
    Layout = null;
}


<section class="quest">
    <h4>@Model.Quest.Name</h4>

    <partial name="./MainObjective/_Display" model="Model.Quest"/>

    <h5>Objectives</h5>
    <ul class="stack">
        @foreach (var objective in Model.Quest.Objectives)
        {
            <partial name="../Objective/_Item" model="objective"/>
        }
    </ul>

    <partial name="_CreateLink" model="Model.Quest.Id"/>
</section>