@page "{id:int}"
@model StudentProgress.Web.Pages.Quest.Index

@{
    Layout = null;
}

<section class="quest">
    <h1>@Model.Quest.Name</h1>

    <partial name="./MainObjective/_Display" model="Model.Quest"/>

    @foreach (var objective in Model.Quest.Objectives)
    {
        <partial name="../Objective/_Item" model="objective"/>
    }

    <partial name="_CreateLink" model="Model.Quest.Id"/>
</section>