@page "{id:int}"
@model StudentProgress.Web.Pages.Quest.Index

@{
    Layout = null;
}

<section class="quest">
    <h1>@Model.Quest.Name</h1>

    <partial name="./MainObjective/_Display" model="Model.Quest"/>

    <a class="link"
       hx-get="@Url.Page("/Objective/Create", new { QuestId = Model.Quest.Id })"
       hx-target="this"
       hx-swap="outerHTML">
        + Add new objective
    </a>

</section>