.quest-log {
    display: flex;
    gap: var(--s0);
}

.quest-log > * {
    flex: 0 0 50%;
}

.quest {
    display: flex;
    flex-direction: column;
    gap: var(--s-1);
    border: var(--f-border-thin) dashed var(--f-color-border);
    border-radius: var(--f-border-radius);
    padding: var(--f-box-padding);
}

.quest-lines {
    display: flex;
    flex-direction: column;
    gap: var(--s0);
}

.quest-lines__quest-line {
    display: block;
    padding: var(--f-box-padding);
    text-decoration: none;
    color: var(--f-color-text);
}

.quest-lines__quest-line--active,
.quest-lines__quest-line:hover,
.quest-lines__quest-line:has(form) {
    border: var(--f-border-thin) dashed var(--f-color-border);
    border-radius: var(--f-border-radius);
}

.list-box {
    background-color: white;
    padding: var(--f-box-padding);
    color: var(--f-color-text);
    border: var(--f-border-thin) solid transparent;
    border-radius: var(--f-border-radius);
    display: grid;
    column-gap: var(--s0);
    row-gap: var(--s-3);
    grid-template-columns: min-content auto min-content;
    grid-template-areas: 
        "prefix main postfix"
        "prefix sub postfix";
}

.list-box__prefix {
    grid-area: prefix;
    align-self: center;
}

.list-box__line-1 {
    grid-area: main;
}

.list-box__line-2 {
    grid-area: sub;
}

.list-box__line-2--flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s-3);
}

.list-box__postfix {
    grid-area: postfix;
    align-self: center;
}

.list-box:hover {
    border-color: var(--f-color-border-faded);
}

.progress {
    width: 10px;
    height: 25px;
    border: var(--f-border-thin) solid black;
    border-radius: var(--f-border-radius);
}

.progress--empty {
    border-style: dashed;
}

.progress-add {
    width: 28px;
    height: 28px;
    border: var(--f-border-thin) solid transparent;
    border-radius: var(--f-border-radius);
    background-color: var(--f-color-background);
    cursor: pointer;
}

.progress-add:hover {
    border-color: var(--f-color-border-faded);
    font-weight: bold;
}

.progress-add:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
