.quest-log {
    display: flex;
    gap: var(--s0);
   
    > * {
        flex: 0 0 50%;
    }
}

.quest-log__quest-line {
    border: var(--f-border-thin) dashed var(--f-color-border);
    border-radius: var(--f-border-radius);
    padding: var(--f-box-padding);
}

.quest-lines {
    display: flex;
    flex-direction: column;
    gap: var(--s0);
}

.quest-lines__quest-line {
    display: block;
    padding: var(--f-box-padding);
    text-decoration: none;
    color: var(--f-color-text);
}

.quest-lines__quest-line--active, 
.quest-lines__quest-line:hover,
.quest-lines__quest-line:has(form) {
    border: var(--f-border-thin) dashed var(--f-color-border);
    border-radius: var(--f-border-radius);
}
