/* || Properties */

:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --color-purple: #663366;
    --color-pink: #e6007e;
    --color-white: #f2f2f2;
    --color-red: #FF2D28;
    --color-black: #660243; /* of #330F33; */
    --color-gray: #ced4da;

    /*colors*/
    --f-color-primary: var(--color-purple);
    --f-color-secondary: var(--color-pink);
    --f-color-danger: var(--color-red);

    /*--f-color-border: var(--color-pink);*/
    --f-color-border: var(--f-color-primary);
    --f-color-background: var(--color-white);

    --f-color-text: var(--color-black);
    --f-color-text-inverted: var(--color-white);
    --f-color-text-link: var(--f-color-primary);
    --f-color-text-form-link: var(--f-color-secondary);
    --f-color-text-button: var(--f-color-text-inverted);
    --f-color-text-placeholder: #757575;

    --f-color-outline: var(--f-color-secondary);

    --f-color-background-input: white;
    --f-color-background-popup: white;
    --f-color-background-button: var(--f-color-primary);
    --f-color-background-button-active: var(--f-color-secondary);

    --f-border-thin: var(--s-5);
    --f-border-radius: var(--s-1);
    --f-border-radius-circle: 50%;

    --f-box-padding: var(--s-1);

    --f-transition-duration: 150ms;

    --z-index-hidden: -1;
    --z-index-normal: 1;
    --z-index-popup: 10;

    --measure: 80ch;
}

[data-theme="black"] {

}

/* || Reset (from https://www.joshwcomeau.com/css/custom-css-reset/#the-css-reset-1) */

/* 1. Use a more-intuitive box-sizing model. */
/* 2. Remove default margin (see * below) */
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul, ol {
    list-style-type: none;
}

/* || ASP.NET related */

.validation-summary-valid {
    display: none;
}

/* || Common */

[x-cloak] {
    display: none !important;
}

* {
    font-family: Helvetica, Verdana, serif;
    max-inline-size: 60ch;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* || Every Layout */

html,
body,
div,
header,
nav,
main,
footer {
    max-inline-size: none;
}

/* Typographic tweaks! 3. Add accessible line-height 4. Improve text rendering */
body {
    background-color: var(--f-color-background);
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* || (Every) Layout */

.reel {
    display: flex;
    block-size: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #fff #000;
}

.reel > * {
    flex: 0 0 180px;
}

.reel > img {
    block-size: 100%;
    flex-basis: auto;
    width: auto;
}

.reel > * + * {
    margin-inline-start: 1rem;
}

.reel.overflowing {
    padding-block-end: 1rem;
}

.reel__item {
    border: var(--f-border-thin) dashed var(--f-color-border);
    border-radius: var(--f-border-radius);
    cursor: pointer;
}

.reel__cover {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: var(--f-border-radius);
    border-top-right-radius: var(--f-border-radius);
}

.reel__item:hover {
    border-style: solid;
}

.reel__content {
    padding: var(--f-box-padding);
}

/* || Utilities */

.fade-me-out.htmx-swapping {
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

.fade-me-in.htmx-added {
    opacity: 0;
}

.fade-me-in {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

/* || Layout */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--s0);
    margin: var(--s-1);
    padding: var(--s-1);
    color: var(--f-color-text);

    & * {
        color: inherit;
    }
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: var(--s0);
}

.nav__search {
    position: relative;

}

.nav__search-field {
    color: var(--f-color-text);
    background-color: var(--f-color-background-input);
    border: var(--f-border-thin) dashed var(--f-color-border);
    border-radius: var(--s-1);
    padding: var(--f-box-padding);
    outline-color: var(--f-color-outline);
}

.nav__search-field::placeholder {
    color: var(--f-color-text-placeholder);
}

.nav__search-results {
    background-color: var(--f-color-background-popup);
    position: absolute;
    top: 100%;
    border: var(--f-border-thin) solid var(--f-color-border);
    border-radius: var(--f-border-radius);
    width: 100%;
    z-index: var(--z-index-popup);
}

.nav__search-results:empty {
    width: 0;
}

.nav__search-results--leaving.htmx-added,
.nav__search-results--leaving,
.nav__search-results--entering.htmx-swapping {
    transition: transform 0.2s ease-out;
    transform: scale(0);
    transform-origin: top left;
}

.nav__search-results--entering {
    transform: scale(1);
}

.nav__people {
    display: flex;
    flex-direction: column;
    gap: var(--s0);
    padding: var(--f-box-padding);
}

.nav__person-info {
    display: flex;
    align-items: center;
    gap: var(--s0);
}

.nav__person-avatar {
    width: 30px;
    height: 30px;
    border-radius: var(--f-border-radius-circle);
}

.nav__adventure-link {
    color: var(--f-color-secondary);
}

.image-link {
    --width: 50px;
    --height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: var(--width);
    width: var(--height);

    &:hover {
        cursor: pointer;
    }
}

.image-link--small {
    --width: 30px;
    --height: 30px;
}

.image-link--hidden {
    visibility: hidden;
}

.image-link--visible {
    visibility: visible;
}

.image-link__border {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height);
    z-index: var(--z-index-hidden);
    border: var(--f-border-thin) dashed var(--f-color-border);
    border-radius: var(--f-border-radius-circle);
}

.image-link:hover > .image-link__border,
.image-link__border--highlight {
    background-color: var(--f-color-background-popup);
    border-style: solid;
}

.image-link__icon {
    transition: opacity var(--f-transition-duration) linear;
    width: calc(var(--width) - 5px);
    height: calc(var(--height) - 5px);
    margin: 0 auto;
}

.image-link__content {
    transition: transform var(--f-transition-duration) ease-in-out;
    transition-property: transform, opacity;
    transform: scale(0);
    transform-origin: top left;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    border: var(--f-border-thin) solid var(--f-color-border);
    border-radius: var(--f-border-radius);
    background-color: var(--f-color-background-popup);
    z-index: var(--z-index-normal);
    padding: var(--f-box-padding);
    cursor: default;
}

.image-link__content--go-up {
    top: unset;
    bottom: 100%;
    transform-origin: bottom left;
}

.image-link__content--visible {
    transform: scale(1);
}

.center {
    box-sizing: content-box;
    margin-inline: auto;
    max-inline-size: var(--measure);
}

.heading {
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    gap: var(--s0);
}

.row--no-gap {
    gap: var(--s-5);
}

.row--justify-center {
    justify-content: center;
}

.row--justify-between {
    justify-content: space-between;
}

.row__col--grow {
    flex-grow: 1;
    flex-shrink: 0;
}

.row__col-small-stats {
    flex-basis: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--s0);
}

.form__label {
    display: block;
    font-weight: bold;
}

.form__control {
    width: 100%;
    padding: var(--s-2);
    border-radius: var(--f-border-radius);
    border: var(--f-border-thin) dashed var(--f-color-border);
}

.form__control:focus {
    border: var(--f-border-thin) solid var(--f-color-border);
    outline-color: var(--f-color-outline);
}

.form__button {
    transition: background-color var(--f-transition-duration) linear;
    background-color: var(--f-color-background-button);
    color: var(--f-color-text-button);
    border-radius: var(--f-border-radius);
    padding: var(--s-4) var(--s-2);
    border-color: var(--f-color-background-button);
    cursor: pointer;
}

.form__button:hover:active {
    background-color: var(--f-color-background-button-active);
}

.form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__button:hover {
    background-color: var(--f-color-primary);
}

.link, .form__link {
    transition: color var(--f-transition-duration) linear;
    color: var(--f-color-text-link);
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.form__link {
    color: var(--f-color-text-form-link)
}

.link:hover, .form__link:hover {
    text-decoration-style: solid;
}

.link:hover {
    color: var(--f-color-secondary);
}

.form__link:hover {
    color: var(--f-color-primary);
}

.stack {
    display: flex;
    flex-direction: column;
    gap: var(--s0);
    width: 100%;
}

.stack__item {
    padding: var(--f-box-padding);
    border: var(--f-border-thin) dashed var(--f-color-border);
    border-radius: var(--f-border-radius);
}

.stack__item:hover {
    border-style: solid;
}

.stack__icon {
    --width: 50px;
    --height: 50px;
    width: var(--width);
    height: var(--height);
}

.stack__icon--small {
    --width: 30px;
    --height: 30px;
}

.stack__link {
    color: var(--f-color-primary);
    text-decoration: none;
}



