#milestones-list {
    list-style-type: none;
    padding-left: 0;
}

.student-timeline {
    width: 250px;
}

.timeline-item {
    position: relative;
    flex: 1;
    height: 10px;
    opacity: 0.5;
    transition: flex 100ms ease-in;
}

.timeline-item-date {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: top 100ms, opacity 100ms;
}

.timeline-item-hoverable {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    flex: 5;
}

.timeline-week-border {
    border-left: 1px solid #d4d4d4;
}

.timeline-item-hoverable:hover {
    flex: 10;
    cursor: pointer;
}

.timeline-item-hoverable:hover .timeline-item-date {
    top: -20px;
    opacity: 1;
}
