#milestones-list {
    list-style-type: none;
    padding-left: 0;
}

.student-timeline {
    width: 250px;
}

.name-edit {
    visibility: hidden;
    cursor: pointer;
}

.student-name:hover .name-edit {
    visibility: visible;
}

