#milestones-list {
    list-style-type: none;
    padding-left: 0;
}

.student-timeline {
    width: 250px;
}

.student-name {
    min-width: 150px;
}

.name-edit {
    visibility: hidden;
    cursor: pointer;
}

.student-name:hover .name-edit {
    visibility: visible;
}

.milestone-form {
    display: inline-block;
}

.student-table tr {
    vertical-align: middle;
}

.action-links {
    width: 10%;
}
