:root {
    --table_color: white;
}

.border--top-left {
    border-top-left-radius: 0.5rem;
}

.border--top-right {
    border-top-right-radius: 0.5rem;
}

.border--bottom-left, .border--bottom-left :last-child {
    border-bottom-left-radius: 0.5rem;
}

.border--bottom-right {
    border-bottom-right-radius: 0.5rem;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
}

.column-collection, .column {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--table_color);
}

.column-collection {
    display: flex;
}

.column-collection--auto-scroll {
    overflow-x: hidden;
}

.column-collection--scrollable {
    overflow-x: scroll;
}

.column-collection--no-background {
    background-color: unset;
}

.cell {
    background-color: var(--table_color);
    min-width: 400px;
    width: 400px;
    height: 100px;
    padding: 0 1rem;
    overflow-y: auto;
    border-top: 1px solid var(--white-50);
    border-bottom: 1px solid var(--white-50);
}

.cell--narrow {
    min-width: 170px;
    width: 170px;
}

.cell--no-wrap {
    white-space: nowrap;
}

.cell--align-middle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cell--flex {
    display: flex;
    gap: 4px;
}

.cell--short {
    height: 50px;
}

.cell__prefix {
    align-self: center;
}

.cell__content {
    overflow-y: auto;
}

.text--add-dots {
    overflow: hidden;
    text-overflow: ellipsis;
}

.text--add-dots:hover {
    overflow: visible;
}