.students, .feelings {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.students {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.feelings {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.student {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px auto 1fr;
    grid-template-areas: 
        "avatar info"
        "rating rating"
        "comment comment";
    padding: 1rem;
    row-gap: 1rem;
}

.student .avatar {
    align-self: center;
    grid-area: avatar;
    margin-right: 1rem;
}

.student .info {
    align-self: center;
    grid-area: info;
}

.student .rating {
    grid-area: rating;
}

.student .comment {
    grid-area: comment;
}

.student-head {
    padding: 1rem 1rem 0;
}

.student-head img {
    margin-right: 1rem;
}

.feelings {
    display: flex;
    gap: 0.5rem;
}
