/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* || Bootstrap */

:root, [data-bs-theme=light] {
    --bs-primary-rgb: 156, 54, 181;
}

[data-bs-theme=dark] {
    --bs-primary: #663366;
    --bs-primary-rgb: 102, 51, 102;
    --bs-body-bg: var(--bs-primary);
}

.card-img-top {
    
}

/* || HTMX */

.htmx-indicator {
    display: none;
}

.htmx-request {
    display: inline;
}

.htmx-request {
    display: inline;
}

.fade-me-out.htmx-swapping {
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

.fade-me-in.htmx-added {
    opacity: 0;
}

.fade-me-in {
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

.pop-out, .pop-out.htmx-swapping, .pop-in.htmx-added {
    transition: transform 0.2s ease-out;   
    transform: scale(0);
    transform-origin: top;
}

.pop-in {
    transform: scale(1);
}

/* || (Every) Layout */

.reel {
    display: flex;
    block-size: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #fff #000;
}

.reel > * {
    flex: 0 0 220px;
}

.reel > img {
    block-size: 100%;
    flex-basis: auto;
    width: auto;
}

.reel > * + * {
    margin-inline-start: 1rem;
}

.reel.overflowing {
    padding-block-end: 1rem;
}


/* || GENERAL STYLES */
:root {

}

[x-cloak] {
    display: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
}

.table {
}

.table td {
    vertical-align: middle;
}

/* || SEARCH
-------------------------------------------------- */

.search .form-control {
    width: unset;
    border-radius: 0.3rem;
}

.quick-add svg {
    width: 25px;
    height: 25px;
}

#searchResults {
    position: absolute;
    top: 130%;
}

@media (min-width: 768px) { 
    #searchResults {
        left: -25%;
    }
}


/* || STICKY FOOTER
-------------------------------------------------- */
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.feedback-text, .parse-newline {
    white-space: pre-line;
}

/* || TIMELINE COMPONENT
-------------------------------------------------- */

.timeline-item {
    position: relative;
    flex: 1;
    height: 10px;
    opacity: 0.5;
    transition: flex 100ms ease-in;
}

.timeline-item-date {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: top 100ms, opacity 100ms;
    pointer-events: none;
}

.timeline-item-hoverable {
    flex: 5;
}

.timeline-week-border {
    border-left: 1px solid #d4d4d4;
}

.timeline-item-hoverable:hover {
    flex: 10;
    cursor: pointer;
}

.timeline-item-hoverable:hover .timeline-item-date {
    top: -20px;
    opacity: 1;
}

/* || UTILITIES */

.pointer {
    cursor: pointer;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.floating {
    z-index: 1000;
}