/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* || GENERAL STYLES */
:root {
    --white-50: #F3F4F9;
    --green-50: #40b24b;
    --green-20: #4dd85b;
    --green-70: #318B39;
    --green-90: #2F7F35;
    
    --gray: #6A707E;
    --gray-dark: #4C5366;
}

[x-cloak] {
    display: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: var(--gray-dark);
    background-color: var(--white-50);
}

.table {
    color: var(--gray-dark);
}

.table td {
    vertical-align: middle;
}

a, .btn-link {
    color: var(--green-90);
}

.btn-primary, 
.btn-outline-primary:hover:not(label.btn-outline-primary:hover) {
    background-color: var(--green-50);
    border-color: var(--green-70);
    color: var(--white-50);
}

.btn-outline-primary:not(label.btn-outline-primary) {
    color: var(--green-50);
    border-color: var(--green-50);
}

.btn-primary:hover {
    background-color: var(--green-70);
    border-color: var(--green-70);
}

.form-control:focus, 
.btn:focus,
.btn:focus:active {
    color: var(--gray-dark);
    background-color: #fff;
    border-color: var(--green-20);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(77 216 91 / 25%);
}

@media (min-width: 768px) {
    html {
        /*font-size: 16px;*/
    }
}

/* || SEARCH
-------------------------------------------------- */

.search .form-control {
    width: unset;
    border-radius: 0.3rem;
    background-color: var(--gray);
    border-color: var(--gray);
    color: white;
}

.search .form-control::placeholder {
    color: white;
}

.search .form-control:focus
{
    outline: 1px solid var(--white-50);
    box-shadow: none;
}

.quick-add svg {
    color: white;
    width: 25px;
    height: 25px;
}

/* || STICKY FOOTER
-------------------------------------------------- */
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.feedback-text, .parse-newline {
    white-space: pre-line;
}

/* || TIMELINE COMPONENT
-------------------------------------------------- */

.timeline-item {
    position: relative;
    flex: 1;
    height: 10px;
    opacity: 0.5;
    transition: flex 100ms ease-in;
}

.timeline-item-date {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: top 100ms, opacity 100ms;
    pointer-events: none;
}

.timeline-item-hoverable {
    flex: 5;
}

.timeline-week-border {
    border-left: 1px solid #d4d4d4;
}

.timeline-item-hoverable:hover {
    flex: 10;
    cursor: pointer;
}

.timeline-item-hoverable:hover .timeline-item-date {
    top: -20px;
    opacity: 1;
}

/* || UTILITIES */

.bg-dark-grey {
    background-color: var(--gray-dark);
}

.pointer {
    cursor: pointer;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.floating {
    z-index: 1000;
}