@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/defaults.scss';

/*@import '../styles/_variables.scss';
@import '../styles/_layout.scss';
@import '../styles/_defaults.scss';
@import '../styles/_spacing.scss';

$sideWidth: 80px;

#topMenu {
    @include cluster;

    grid-area: top;

    #brand {
        @include stack(center, 5px);

        align-items: center;
        box-shadow: $shadow;
        background-color: $primary;
        border-radius: $roundness;
        color: $primaryTextColor;
        height: 80px;
        width: $sideWidth;
    }

    #brandSvg svg {
        height: 40px;
        width: 40px;
    }

    #search {
        border-radius: 20px;
        height: 30px;
        width: 250px;
    }
}

#navMenu {
    @include stack(flex-start, 40px);
    grid-area: nav;
    width: $sideWidth;
    align-items: center;

    > a {
        @include cluster(center);
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    > a svg {
        color: $textColor;
        width: 40px;
        height: 40px;
    }

    > :hover {
        background-color: $contentBackground;
        box-shadow: $shadow;
    }
}

main {
    grid-area: main;
}
*/