@model bool

<ul>
    <li>
        <a id="newAdventure" href="#" class="link"
           hx-get="@Url.Page("Create")"
           hx-target="#actions"
           hx-swap="innerHTML swap:200ms settle:200ms">
            Create New
            <svg-inject class="loading htmx-indicator" src="images/puff.svg"></svg-inject>
        </a>
    </li>
    @if (Model)
  {
      <li>
            <a asp-page="/Canvas/Courses/Index" class="link">Import from Canvas</a>
        </li>
  }
</ul>