@model StudentProgress.Web.Models.Adventure

<li id="adventure-@Model.Id" class="row fade-me-out fade-me-in"
    x-data="{ hasFocus: false, showIcon: false, showOptions: false }"
    @@mouseenter="hasFocus = showIcon = true"
    @@mouseleave="hasFocus = false; if(showOptions === false) showIcon = false">
    <p headers="name">
        <a asp-page="/Adventure/Index" asp-route-id="@Model.Id"
           hx-target="body">
            @Html.DisplayFor(a => a.Name)
        </a>
    </p>
    <p headers="mnemonic" class="feedback-text">@Html.DisplayFor(a => a.Mnemonic)</p>

    <div class="image-link image-link--small"
         x-show="showIcon"
         x-transition
         @@click="showOptions = true"
         @@click.outside="showOptions = false; if(!hasFocus) showIcon = false;">
        <img class="image-link__icon" src="~/images/sword.png" alt="adventure options">
        <div class="image-link__border" :class="showOptions && 'image-link__border--highlight'"></div>
        <div id="adventure-@(Model.Id)-options" class="image-link__content fade-me-in fade-me-out" :class="showOptions && 'image-link__content--visible'">
            <partial name="_Options" model="@Model"/>
        </div>
    </div>
</li>