@page "{id:int}"
@model EditModel

@{Layout = null;
}

<tr id="adventure-@Model.Adventure.Id" class="fade-me-in fade-me-out">
    <td colspan="3">
        <partial name="_Form" model="@Model.Adventure" />
    </td>
</tr>