@page
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Groups";
}

<section class="stack">
    <div class="row row__center">
        <h2 class="heading">@Localizer["Adventures"]</h2>
        <div class="image-link"
             x-data="{ show: false }"
             @@click="show = true"
             @@click.outside="show = false"
             @@adventure-created.document.debounce.500ms="show = false">
            <div class="image-link__border" :class="show && 'image-link__border--highlight'">
            </div>
            <img src="~/images/014-maya-pyramid.png" class="image-link__icon" alt="actions">
            <div id="actions" class="image-link__content fade-me-out fade-me-in" :class="show && 'image-link__content--visible'">
                <partial name="_Actions" model="Model.CanImportGroups"/>
            </div>
        </div>
    </div>

    <ul id="adventures"
        hx-get="@Url.Page("Index")"
        hx-trigger="adventure-created from:body delay:500ms"
        class="stack">
        <partial name="_List" model="Model.Adventures"/>
    </ul>
</section>