@page
@model IndexModel

@{
    ViewData["Title"] = "Groups";
}

<section>
    <div class="row -center">
        <h2 class="heading">Adventures</h2>
        <div class="image-link -small"
             x-data="{ show: false }"
             @@click="show = true"
             @@click.outside="show = false">
            <div class="border" :class="show && '-highlight'">
            </div>
            <img src="~/images/sword.png" class="icon" alt="actions">
            <div id="actions" class="content fade-me-out fade-me-in" :class="show && 'show'">
                <partial name="_Actions" model="Model.CanImportGroups"/>
            </div>
        </div>
    </div>

    <table id="adventures" class="table" hx-get="@Url.Page("Index")" hx-trigger="adventure-created from:body delay:500ms" hx-target="tbody">
        <caption>Overview of adventures available</caption>
        <thead>
        <tr>
            <th id="name">
                @Html.DisplayNameFor(model => model.Adventures[0].Name)
            </th>
            <th id="mnemonic">
                @Html.DisplayNameFor(model => model.Adventures[0].Mnemonic)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <partial name="_List" model="Model.Adventures"/>
        </tbody>
    </table>
</section>