@page
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Groups";
}

<section>
    <div class="row -center">
        <h2 class="heading">@Localizer["Adventures"]</h2>
        <div class="image-link image-link--small"
             x-data="{ show: false }"
             @@click="show = true"
             @@click.outside="show = false">
            <div class="image-link__border" :class="show && 'image-link__border--highlight'">
            </div>
            <img src="~/images/sword.png" class="image-link__icon" alt="actions">
            <div id="actions" class="image-link__content fade-me-out fade-me-in" :class="show && 'image-link__content--visible'">
                <partial name="_Actions" model="Model.CanImportGroups"/>
            </div>
        </div>
    </div>

    <table id="adventures" class="table" hx-get="@Url.Page("Index")" hx-trigger="adventure-created from:body delay:500ms" hx-target="tbody">
        <thead>
        <tr>
            <th id="name">
                @Html.DisplayNameFor(model => model.Adventures[0].Name)
            </th>
            <th id="mnemonic">
                @Html.DisplayNameFor(model => model.Adventures[0].Mnemonic)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <partial name="_List" model="Model.Adventures"/>
        </tbody>
    </table>
</section>