@model Core.Models.QuestLine?
@{
}

<p class="quest__main-objective"
   hx-get="@Url.Page("/QuestLine/MainObjective/Edit", new { Id = Model?.Id })"
   hx-trigger="click"
   hx-swap="outerHTML"
   hx-target="this">
    <span class="show-newlines">@(Model?.MainObjective ?? "What is the main objective?")</span>
    <svg-inject class="loading htmx-indicator" src="images/puff.svg"/>
</p>