@page
@model StudentProgress.Web.Pages.Settings.Index

@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

<form method="post">
    @Html.ValidationSummary()
    <p>
        <label asp-for="Settings.CanvasApiKey"></label>
        <input asp-for="Settings.CanvasApiKey">
    </p>
    <p>
        <label asp-for="Settings.CanvasApiUrl"></label>
        <input asp-for="Settings.CanvasApiUrl">
    </p>
    <p>
        <button type="submit">Save</button>
    </p>
</form>

<form method="post" hx-boost="false" asp-page="/Logout">
    <button class="btn btn-link" type="submit">
        Log out
    </button>
</form>