@page
@model StudentProgress.Web.Pages.Settings.Index

@{
    ViewData["Title"] = "Settings";
}

<div class="stack">
    <form class="form" method="post" hx-boost="false" asp-page="/Logout">
        <h2>Account</h2>
        <button class="form__button" type="submit">
            Log out
        </button>
    </form>
</div>