@page "{id:int}"
@model StudentProgress.Web.Pages.QuestLine.Index

@{
  Layout = null;
}

<section class="quest">
  <h1>Hello @Model.QuestLine.Name</h1>

    <partial name="./MainObjective/_Display" model="Model.QuestLine" />
    
    <a class="link">+ Add new objective</a>

</section>