@page "{id:int}"
@model StudentProgress.Web.Pages.QuestLine.Index

@{
    Layout = null;
}

<section class="quest-log__quest-line">
    <h1>Hello @Model.QuestLine.Name</h1>
    <p>What is the main objective?</p>
</section>