@model IndexModel

<a id="newAdventure" href="#" hx-get="@Url.Page("Parts/Create")" hx-target="#actions">
  Create New
</a> or

@if (Model.CanImportGroups)
{
  <a asp-page="/Canvas/Courses/Index">Import from Canvas</a>
}