@page
@model StudentProgress.Web.Pages.Account.AccessDenied

@{
    ViewData["Title"] = "You shall not pass!";
}

<h2>Access denied</h2>

<p>You are not allowed to do this. Did something go wrong?</p>
