@page
@model StudentProgress.Web.Pages.Account.Login

@{ViewData["Title"] = "Login";
}

<section class="row" hx-boost="false">
    <form method="post" class="form">
        <h2>Progress</h2>
        <div asp-validation-summary="All"></div>
        <p>
            <label asp-for="User.Email" class="form__label"></label>
            <input asp-for="User.Email" class="form__control" placeholder="@Html.DisplayNameFor(m => m.User.Email)">
        </p>
        <p class="">
            <label asp-for="User.Password" class="form__label"></label>
            <input asp-for="User.Password" class="form__control" placeholder="@Html.DisplayNameFor(m => m.User.Password)">
        </p>
        <p class="form__actions">
            <button class="form__button" type="submit">Log in</button>
        </p>
    </form>
</section>