@page
@model StudentProgress.Web.Pages.Account.TwoFactorLogin

<div class="row justify-content-center mt-5" hx-boost="false">
    <section class="col-md-4">
        <h2>Enter the one time code</h2>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <p class="form-floating">
                <input asp-for="Code" type="text" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Code)">
                <label asp-for="Code"></label>
            </p>
            <p>
                <button type="submit" class="btn btn-primary">Send</button>
            </p>
        </form>
    </section>
</div>