@using StudentProgress.Web.Pages.Quest
@using StudentProgress.Web.Pages.Shared

@model AdventurePartialModel<IEnumerable<Core.Models.QuestLine>>

@foreach (var questLine in Model.Data)
{
  <li id="questLine@(questLine.Id)" class="box box--dashed-hover box--no-border cluster">
    <span class="stack__title">@questLine.Name</span>

    <div class="image-link image-link--small image-link--hidden"
         x-data="{ show: false }"
         @@click="show = true"
         @@click.outside="show = false"
         @@adventure-created.document.debounce.500ms="show = false">
      <div class="image-link__border" :class="show && 'image-link__border--highlight'">
      </div>
      <img src="~/images/014-maya-pyramid.png" class="image-link__icon" alt="actions">
      <div id="actions" class="image-link__content fade-me-out fade-me-in" :class="show && 'image-link__content--visible'">
        <ul>
          <li>
            <a class="link" hx-get="@Url.Page("/Quest/Create", new { QuestLineId = questLine.Id, PersonId = Model.PersonId })"
               hx-target="closest #questLine@(questLine.Id)"
               hx-swap="afterend"
               @@click.debounce.200ms="show = false">
              Add new quest
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>

  @foreach (var quest in questLine.Quests)
  {
    <partial name="../Quest/_ListItem" model="new ListItemModel(Model.AdventureId, quest, Model.PersonId, Model.QuestId == quest.Id)" />
  }
}
