@page
@model StudentProgress.Web.Pages.StudentGroups.Details.AddMilestone

@{
    ViewData["Title"] = "Add Milestone";
}

<h1>Add milestone to @Model.Group.Name</h1>

@if (Model.Group.Milestones.Any())
{
    <section>
        <h2>Previously added milestones</h2>
        <ul>
            @foreach (var milestone in Model.Group.Milestones)
            {
                <li>
                    @milestone.Name
                </li>
            }
        </ul>
    </section>
}

<section>
    <h2>New milestone</h2>
    <form method="post">
        <input type="hidden" asp-for="Milestone.GroupId" value="@Model.Group.Id" />
        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Milestone.Name"/>
            <label asp-for="Milestone.Name"></label>
            <span class="text-danger" asp-validation-for="Milestone.Name"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="submit" class="btn btn-outline-primary" asp-page-handler="AndAddAnother">Create and add another</button>
        </div>
    </form>
</section>